body {
    background-color: rgb(211, 211, 211);
}

h1 {
    font-family: 'Courier New', Courier, monospace; 
    color: rgb(17, 9, 129);   
    margin-top: 10px;
    margin-left: 10px;
}

#firts-container {
    position: absolute;
    top: 75px;
    left: 20px;
    width: 610px;
    height: 700px;
    background-color: white;
    border: 10px solid white;
}

h3 {
    font-family: 'Courier New', Courier, monospace;   
    margin-top: 10px;
    margin-left: 10px;
}